<h2 mat-dialog-title>
    Grade Matrix
</h2>
<hr>
<mat-dialog-content class="mat-typography" style="width:80vw">
    <div class="dialog-width">
        <form class="editForm ">
            <div class="row justify-content-center">

                <div class="col-md-6">

                    <div class="form-group row ">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Company <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select name="" id="" class="form-control">
                                <option ></option>
                                <option value="atoffice">Infotech</option>
                                <option value="atoffice">Maslow</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row ">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Designation <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select name="" id="" class="form-control">
                                <option ></option>
                                <option value="atoffice">Board Of Chairman</option>
                                <option value="atoffice">CEO</option>
                                <option value="atoffice">Managing Deractor</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label for="staticEmail" class="col-sm-3 col-form-label">Grade Name <span class="text-danger">*</span></label>
                        <div class="col-sm-9">
                            <select name="" id="" class="form-control">
                                <option ></option>
                                <option value="atoffice">Grade 1</option>
                                <option value="atoffice">Grade 2</option>
                                <option value="atoffice">Grade 3</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <h5>Lavels</h5>
                            <table class="table">
                                <tr>
                                    <th>Sl</th>
                                    <th>Lavel Name</th>
                                    <th>Salary Start From</th>
                                    <th>Salary End To</th>
                                </tr>
                                <tr>
                                    <td>01 </td>
                                    <td> Level 1 </td>
                                    <td> <input type="number" value="0" class="form-control"> </td>
                                    <td> <input type="number" value="0" class="form-control"> </td>
                                </tr>
                                <tr>
                                    <td>02 </td>
                                    <td> Level 2 </td>
                                    <td> <input type="number" value="0" class="form-control"> </td>
                                    <td> <input type="number" value="0" class="form-control"> </td>
                                </tr>
                                <tr>
                                    <td>03 </td>
                                    <td> Level 3 </td>
                                    <td> <input type="number" value="0" class="form-control"> </td>
                                    <td> <input type="number" value="0" class="form-control"> </td>
                                </tr>
                                <tr>
                                    <td colspan="3"></td>
                                    <td colspan="3" class="text-right"><button type="submit" mat-raised-button color="primary"> Create </button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </form>

    </div>
</mat-dialog-content>