<h2 mat-dialog-title>
    <span *ngIf="type == 'create'">Add New </span>
    <span *ngIf="type == 'update'">Edit </span> User
</h2>
<hr>
<mat-dialog-content class="mat-typography" style="width:80vw">
    <div class="dialog-width">
        <form #validationForm="ngForm" class="editForm dialog-width">
            <div class="row justify-content-center">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Company</label>
                        <select class="form-control" name="company_id" [ngClass]="{'is-invalid': !company_id.valid && (company_id.dirty || company_id.touched || isSubmit)}" #company_id="ngModel" required [(ngModel)]="formInput.company_id" (change)="companywiserole()">
                            <option value selected>Choose Company</option>

                            <option *ngFor="let com of allcompanyList" value="{{com.id}}">{{com.name}}</option>
                        </select>
                        <label *ngIf="!company_id.valid && (company_id.dirty || company_id.touched || isSubmit)" id="validation-company_id-error" class="error jquery-validation-error small form-text invalid-feedback">The company selection should be required.</label>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Role</label>
                        <select class="form-control" name="role_id" [ngClass]="{'is-invalid': !role_id.valid && (role_id.dirty || role_id.touched || isSubmit)}" #role_id="ngModel" required [(ngModel)]="formInput.role_id">
                            <option value selected>Choose Role</option>

                            <option *ngFor="let com of allroleList" value="{{com.id}}">{{com.role_name}}</option>
                        </select>
                        <label *ngIf="!role_id.valid && (role_id.dirty || role_id.touched || isSubmit)" id="validation-role_id-error" class="error jquery-validation-error small form-text invalid-feedback">The role selection should be required.</label>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="validation-password" placeholder="Enter  Name" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched || isSubmit)}" #name="ngModel" minlength="3" required [(ngModel)]="formInput.name">
                        <label *ngIf="!name.valid && (name.dirty || name.touched || isSubmit)" id="validation-name-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid name. minlength 3 character</label>

                    </div>
                    <!-- <div class="form-group">
                        <label class="form-label">mobile</label>
                        <input type="text" class="form-control" mobile="validation-password" placeholder="Enter Department mobile" [ngClass]="{'is-invalid': !mobile.valid && (mobile.dirty || mobile.touched || isSubmit)}" #mobile="ngModel" minlength="6" required [(ngModel)]="formInput.mobile">
                        <label *ngIf="!mobile.valid && (mobile.dirty || mobile.touched || isSubmit)" id="validation-mobile-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid Mobile Number.</label>
                    </div> -->
                    <div class="form-group">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="validation-address" [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || isSubmit)}" #email="ngModel" required [(ngModel)]="formInput.email">
                        <label *ngIf="!email.valid && (email.dirty || email.touched || isSubmit)" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">The email field should be required.</label>
                    </div>
                    <div class="form-group" *ngIf="operation == 1">
                        <label class="form-label">Password</label>
                        <input class="form-control" name="validation-address" [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || isSubmit)}" #password="ngModel" required [(ngModel)]="formInput.password">
                        <label *ngIf="!password.valid && (password.dirty || password.touched || isSubmit)" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">The password field should be required.</label>
                    </div>
                    <div class="form-group text-right">
                        <button mat-raised-button mat-dialog-close class="mr-2" color="warn">Cancel</button>
                        <button type="submit" mat-raised-button color="primary" (click)="save(validationForm)"> {{type|titlecase}}</button>
                    </div>
                </div>

            </div>

        </form>

    </div>
</mat-dialog-content>