<div class="page-body">
    <div class="row">
        <div class="col-md-12">
            <app-card [title]="'Leaves statistics'">
                <form class="example-form row">
                    <div class="col-sm-3">
                        <mat-form-field class="example-full-width w-100" appearance="fill">
                            <mat-label>Choose an option</mat-label>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option selected value="today">Today</mat-option>
                                <mat-option value="thisweek">This Week</mat-option>
                                <mat-option value="last15days">Last 15 Days</mat-option>
                                <mat-option value="last30days">Last 30 Days</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                        <mat-form-field class="example-full-width  w-100" appearance="fill">
                            <mat-label>Leave Type</mat-label>
                            <input matInput aria-label="State" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option value="Sick">Sick</mat-option>
                                <mat-option value="Sick">Casual Leave</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field class="example-form-field w-100" appearance="fill">
                            <mat-label>By Date</mat-label>
                            <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker">
                                <input matStartDate placeholder="Start date" formControlName="start">
                                <input matEndDate placeholder="End date" formControlName="end">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                            <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-2">
                        <button mat-raised-button type="submit" color="primary">Search</button>
                    </div>
                </form>
            </app-card>
        </div>
        <div class="col-sm-12">
            <div class="row leave-card justify-content-center">
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card cursor-pointer" (click)="SelectTab(1)">
                        <div class="card-block">
                            <h6 class="m-b-0">Sick leave</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-bed m-r-15 text-success"></i> 15/765</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(2)">
                        <div class="card-block">
                            <h6 class="m-b-0">Casual leave</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-home m-r-15 text-success"></i> 4/52</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(3)">
                        <div class="card-block">
                            <h6 class="m-b-0">Public holiday</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-user-md m-r-15 text-info"></i> 2/5</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(4)">
                        <div class="card-block">
                            <h6 class="m-b-0">Religious holidays</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-clock-o m-r-15 text-warning"></i> 7/76</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(5)">
                        <div class="card-block">
                            <h6 class="m-b-0">Maternity leave</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-ship m-r-15 text-info"></i> 0/12</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(6)">
                        <div class="card-block">
                            <h6 class="m-b-0">Paternity leave</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-bed m-r-15 text-c-red"></i> 0/8</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(7)">
                        <div class="card-block">
                            <h6 class="m-b-0"> Bereavement leave</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-bed m-r-15 text-c-red"></i> 0/8</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(8)">
                        <div class="card-block">
                            <h6 class="m-b-0">Compensatory leave</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-bed m-r-15 text-c-red"></i> 1/8</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(9)">
                        <div class="card-block">
                            <h6 class="m-b-0">Marriage Leave</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-bed m-r-15 text-c-red"></i> 5/8</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(10)">
                        <div class="card-block">
                            <h6 class="m-b-0">Annual Leave</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-bed m-r-15 text-c-red"></i> 0/8</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 ">
                    <div class="card text-center order-visitor-card" (click)="SelectTab(11)">
                        <div class="card-block">
                            <h6 class="m-b-0">Unpaid Leave</h6>
                            <h4 class="m-t-15 m-b-15"><i class="fa fa-bed m-r-15 text-c-red"></i> 0/8</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-12">
            <app-card title="Leave">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-live bg-light d-inline-block">
                        <li class="breadcrumb-item active"><a href="#">All(20)</a></li>
                        <li class="breadcrumb-item"><a href="#">Approved(12)</a></li>
                        <li class="breadcrumb-item"><a href="#">Pending(5)</a></li>
                        <li class="breadcrumb-item"><a href="#">Rejected(3)</a></li>
                    </ol>
                    <div class="text-right float-right d-inline-block">
                        <button mat-raised-button color="primary" (click)="CreateLeave()">Leave Apply</button>
                    </div>
                </nav>

                <mat-tab-group [selectedIndex]="selectedTabIndex">
                    <mat-tab label="All">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Sick Leave">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Casual leave">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Public holiday">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Religious holidays">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Maternity leave">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Paternity leave">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Bereavement leave">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Compensatory leave">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Marriage Leave">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Annual Leave">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                    <mat-tab label="Unpaid Leave">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Employee</th>
                                        <th>Leave Policy</th>
                                        <th>Year</th>
                                        <th>Request</th>
                                        <th>Alocated Leave Days</th>
                                        <th>Days Requested</th>
                                        <th>Days Approved</th>
                                        <th>Days Cancled</th>
                                        <th>Days Remaining</th>
                                        <th>Effective Days</th>
                                        <th>Reason Of Leave </th>
                                        <th>Status</th>
                                        <th>Approve By</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Mamun Ahmmed</td>
                                        <td>Marriage Leave</td>
                                        <td>2021</td>
                                        <td>Aug-14 to Aug-20</td>
                                        <td>7</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>5</td>
                                        <td>First Marrage</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td>Abrar Hasan</td>
                                        <td>Casual Leave</td>
                                        <td>2021</td>
                                        <td>jul-10 to jul-12</td>
                                        <td>10</td>
                                        <td>3</td>
                                        <td>3</td>
                                        <td>0</td>
                                        <td>7</td>
                                        <td>3</td>
                                        <td>Family Function</td>
                                        <td><span class="text-success">Approved</span></td>
                                        <td>
                                            <strong class="d-block">Sadjjad Hossain - (DO)</strong>
                                            <span>Jul 7 2021</span>
                                        </td>
                                        <td><a href="javascript:" (click)="EditLeave()"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a><a href="javascript:" (click)="DeleteLeave()"><i class="fa fa-trash f-16"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </app-card>
        </div>
    </div>
</div>