<div class="page-body" *ngIf="permission('view')">
    <div class="row">
        <div class="col-sm-6">

            <app-card title="Settings">
                <div class="row quick-access justify-content-center">
                    <div class="col-md-4">
                        <a href="">
                            <div class="card text-center text-dark shadow">
                                <div class="card-block px-2">
                                    <img src="./../../../../assets/images/quick-access/department.png" alt="prodimg" class="img-fluid img-80">
                                    <h6 class="m-b-0">Department Settings</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="">
                            <div class="card text-center text-dark shadow">
                                <div class="card-block px-2">
                                    <img src="./../../../../assets/images/quick-access/designation.png" alt="prodimg" class="img-fluid img-80">
                                    <h6 class="m-b-0">Designation Settings</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="">
                            <div class="card text-center text-dark shadow">
                                <div class="card-block px-2">
                                    <img src="./../../../../assets/images/quick-access/leave.png" alt="prodimg" class="img-fluid img-80">
                                    <h6 class="m-b-0">Leave Type Settings</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </app-card>
        </div>
        <div class="col-sm-6">
            <app-card title="Attendance">
                <div class="row quick-access justify-content-center">
                    <div class="col-md-4">
                        <a href="">
                            <div class="card text-center text-dark shadow">
                                <div class="card-block px-2">
                                    <img src="./../../../../assets/images/quick-access/attendance.png" alt="prodimg" class="img-fluid img-80">
                                    <h6 class="m-b-0">Attendance Settings</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>



<div class="page-body" *ngIf="permission('view') == 0">
    <app-card>
        <div class="row justify-content-center py-5">
            <div class="col-sm-4 text-center">
                <img style="max-width: 100%;" src="./../../../../../assets/images/500.jpg" alt="">
                <h2 class="pt-5 text-danger">Sorry man.</h2>
                <h4 class="font-weight-light">You are unauthorized to access this data.</h4>
            </div>
        </div>
    </app-card>
</div>