<div class="page-body">
    <div class="row">
        <div class="col-sm-6">

            <app-card title="Settings">
                <div class="row quick-access justify-content-center">
                    <div class="col-md-4">
                        <a href="">
                            <div class="card text-center text-dark shadow">
                                <div class="card-block px-2">
                                    <img src="./../../../../assets/images/quick-access/department.png" alt="prodimg" class="img-fluid img-80">
                                    <h6 class="m-b-0">Department Settings</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="">
                            <div class="card text-center text-dark shadow">
                                <div class="card-block px-2">
                                    <img src="./../../../../assets/images/quick-access/designation.png" alt="prodimg" class="img-fluid img-80">
                                    <h6 class="m-b-0">Designation Settings</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="">
                            <div class="card text-center text-dark shadow">
                                <div class="card-block px-2">
                                    <img src="./../../../../assets/images/quick-access/leave.png" alt="prodimg" class="img-fluid img-80">
                                    <h6 class="m-b-0">Leave Type Settings</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </app-card>
        </div>
        <div class="col-sm-6">
            <app-card title="Attendance">
                <div class="row quick-access justify-content-center">
                    <div class="col-md-4">
                        <a href="">
                            <div class="card text-center text-dark shadow">
                                <div class="card-block px-2">
                                    <img src="./../../../../assets/images/quick-access/attendance.png" alt="prodimg" class="img-fluid img-80">
                                    <h6 class="m-b-0">Attendance Settings</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</div>