<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <app-card title="Employee Type List">
                <div class="text-right pb-3">
                    <button mat-raised-button color="primary" (click)="CreateDialog()">Add New</button>
                </div>
                <div class="table-responsive">
                    <table datatable class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Designation Name</th>
                                <th>Company</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dep of collection;index as i">
                                <td>{{i+1}}</td>
                                <td class="text-capitalize">{{dep.emp_type_name}}</td>
                                <td class="text-capitalize">{{dep.companyname}}</td>
                                <td>{{dep.emp_type_description}}</td>
                                <td>
                                    <span class="label badge-inverse-danger" (click)="EditDialog(dep.id)"><i class="fa fa-pencil "></i> </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</div>