<h2 mat-dialog-title>
    <span *ngIf="type == 'insert'">Add New </span>
    <span *ngIf="type == 'edit'">Edit </span> Employee Type
</h2>
<hr>
<mat-dialog-content class="mat-typography" style="width:80vw">
    <div class="dialog-width">
        <form #validationForm="ngForm" class="editForm dialog-width">
            <div class="row justify-content-center">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Company</label>
                        <select class="form-control" name="company_id" [ngClass]="{'is-invalid': !company_id.valid && (company_id.dirty || company_id.touched || isSubmit)}" #company_id="ngModel" required [(ngModel)]="formInput.company_id">
                            <option value selected>Choose Company</option>

                            <option *ngFor="let com of allcompanyList" value="{{com.id}}"  class="text-capitalize">{{com.name}}</option>
                        </select>
                        <label *ngIf="!company_id.valid && (company_id.dirty || company_id.touched || isSubmit)" id="validation-company_id-error" class="error jquery-validation-error small form-text invalid-feedback">The company selection should be required.</label>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" name="validation-password" placeholder="Enter Name" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched || isSubmit)}" #name="ngModel" minlength="3" required [(ngModel)]="formInput.name">
                        <label *ngIf="!name.valid && (name.dirty || name.touched || isSubmit)" id="validation-name-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter a valid Name.</label>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Remarks</label>
                        <textarea class="form-control" name="validation-address" [(ngModel)]="formInput.description"></textarea>

                    </div>
                    <div class="form-group text-right">
                        <button mat-raised-button mat-dialog-close class="mr-2" color="warn">Cancel</button>
                        <button type="submit" mat-raised-button color="primary" (click)="save(validationForm)"> {{type|titlecase}}</button>
                    </div>
                </div>

            </div>

        </form>

    </div>
</mat-dialog-content>