<h2 mat-dialog-title>Grade Details</h2>
<mat-dialog-content class="mat-typography">
    <p class="mb-0"><strong>Company:</strong> Infotech</p>
    <p class="mb-0"><strong>Grade Name:</strong> Infotech</p>
    <p class="mb-0"><strong>Created By:</strong> MD. Tarik Alam - 0874</p>
    <p><strong>Created Date:</strong> 12 June 2021</p>

    <p><strong>Grade Levels</strong></p>
    <table class="table">
        <tr>
            <th>Sl</th>
            <th>Name</th>
        </tr>
        <tr>
            <td>1 </td>
            <td>Level 1</td>
        </tr>
        <tr>
            <td>02 </td>
            <td>Level 02 </td>
        </tr>
        <tr>
            <td>03</td>
            <td> Level 3</td>
        </tr>
    </table>


    <p><strong>Approved By: </strong> CEO</p>
    <p><strong>Approved At: </strong> 12 mar 2021</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>