<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="row leave-card justify-content-center">
                <div class="col-md-3">
                    <div class="card text-center order-visitor-card cursor-pointer">
                        <div class="card-block">
                            <h6 class="m-b-0 text-warning">Nearest Meeting</h6>
                            <h4 class="m-t-15 mb-0"> 12 Mar - 10AM</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center order-visitor-card cursor-pointer">
                        <div class="card-block">
                            <h6 class="m-b-0">Upcomming Meetings</h6>
                            <h4 class="m-t-15 mb-0"> 15</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center order-visitor-card cursor-pointer">
                        <div class="card-block">
                            <h6 class="m-b-0">Hours Utilizeds</h6>
                            <h4 class="m-t-15 mb-0"> 458</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center order-visitor-card cursor-pointer">
                        <div class="card-block">
                            <h6 class="m-b-0 text-danger">Meetings Cancled</h6>
                            <h4 class="m-t-15 mb-0"> 122</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <app-card title="Meeting List">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Subject</th>
                                <th>Company</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Meeting Room</th>
                                <th>Details</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Business Manage</td>
                                <td>Infotech</td>
                                <td>12 App 2021</td>
                                <td>10 AM - 12 PM</td>
                                <td>806C</td>
                                <td><button class="btn btn-info btn-sm" (click)="MeetingDetails()">Details</button></td>
                            </tr>
                            <tr>
                                <td>01</td>
                                <td>Business Manage</td>
                                <td>Infotech</td>
                                <td>12 App 2021</td>
                                <td>10 AM - 12 PM</td>
                                <td>806C</td>
                                <td><button class="btn btn-info btn-sm" (click)="MeetingDetails()">Details</button></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Business Manage</td>
                                <td>Infotech</td>
                                <td>12 App 2021</td>
                                <td>10 AM - 12 PM</td>
                                <td>806C</td>
                                <td><button class="btn btn-info btn-sm" (click)="MeetingDetails()">Details</button></td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>Business Manage</td>
                                <td>Infotech</td>
                                <td>12 App 2021</td>
                                <td>10 AM - 12 PM</td>
                                <td>806C</td>
                                <td><button class="btn btn-info btn-sm" (click)="MeetingDetails()">Details</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</div>