<h2 mat-dialog-title>Requisitions Details</h2>
<mat-dialog-content class="mat-typography">
    <p><strong>Company:</strong> Infotech</p>
    <p><strong>Department:</strong> Infotech</p>
    <p><strong>Subject:</strong> Infotech</p>
    <table class="table">
        <tr>
            <th>Sl</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>1 </td>
            <td> Lorem ipsum dolor sit amet. </td>
            <td> 10 </td>
            <td> 1500 </td>
            <td> 15,000</td>
        </tr>
        <tr>
            <td>2 </td>
            <td> Lorem ipsum dolor sit amet. </td>
            <td> 10 </td>
            <td> 1500 </td>
            <td> 15,000</td>
        </tr>
        <tr>
            <td> </td>
            <td> </td>
            <td> 20 </td>
            <td> </td>
            <td> 30,000</td>
        </tr>
    </table>

    <p><strong>Approved By:</strong> HR Manager</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>