<div class="page-body">
    <div class="row">
        <div class="col-sm-12">

            <app-card title="Department List">
                <div class="text-right pb-3">
                    <button mat-raised-button color="primary" (click)="openDialog()">Add New</button>
                </div>
                <div class="table-responsive">
                    <table datatable class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Department Name</th>
                                <th>Company</th>
                                <th>Details</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Accounts</td>
                                <td>Infotech</td>
                                <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis debitis iste quod, culpa assumenda impedit ut! Voluptatum dolores qui fugiat!</td>
                                <td><label class="label label-success">Success</label></td>
                                <td><i class="fa fa-pencil-square-o f-16 m-r-15" (click)="EditDialog()"></i><i class="fa fa-trash f-16" (click)="deleteDialog()"></i></td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>Human Resources (HR)</td>
                                <td>Infotech</td>
                                <td>Perferendis debitis iste quod, culpa assumenda impedit ut! Voluptatum dolores qui fugiat!</td>
                                <td><label class="label label-warning">Pending</label></td>
                                <td><i class="fa fa-pencil-square-o f-16 m-r-15" (click)="EditDialog()"></i><i class="fa fa-trash f-16" (click)="deleteDialog()"></i></td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </app-card>
        </div>
    </div>
</div>